
  .fill-space {
    flex: 1;
  }
  
  
  .punch-in-button {
    background-color: salmon; 
    color: white;
  }
  
  
  .punch-out-button {
    background-color: red; 
    color: white;
  }
  .example-container {
    position: relative;
    height: 100vh;
  }
  
  .mat-sidenav-content {
    padding: 20px;
  }


  .example-sidenav-container {
    
    flex: 1;
  }


 
 
  
  
  
  
  
  