<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="fill-space"></span>
  <button *ngIf="punchstatus" class="btn btn-outline-light my-2 my-sm-0" (click)="punchOut()">PunchOut</button>
  <button *ngIf="!punchstatus" class="btn btn-outline-light my-2 my-sm-0" (click)="punchIn()">PunchIn</button>
</mat-toolbar>


<mat-sidenav-container class=" example-container">
  <mat-sidenav #sidenav mode="over">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>